In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Creación de una Serie a partir de una lista
temperaturas1 = pd.Series([22,24,19,23,25,26])

print(temperaturas1)

0    22
1    24
2    19
3    23
4    25
5    26
dtype: int64

In [4]:
# Creación de una Serie con índice personalizado
temperaturas = pd.Series([22, 24, 19, 23, 25, 26], index=['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'])

print(temperaturas)

Lunes        22
Martes       24
Miércoles    19
Jueves       23
Viernes      25
Sábado       26
dtype: int64

In [5]:
datos = {
	'Mes': ['Enero', 'Febrero', 'Marzo', 'Abril'],
	'Madrid': [10, 12, 15, 17],
	'Barcelona': [12, 14, 16, 18],
	'Valencia': [14, 16, 18, 20],
	'Bilbao': [8, 10, 12, 14]
}

df_clima = pd.DataFrame(datos)

print(df_clima)

display(df_clima.head())

       Mes  Madrid  Barcelona  Valencia  Bilbao
0    Enero      10         12        14       8
1  Febrero      12         14        16      10
2    Marzo      15         16        18      12
3    Abril      17         18        20      14

       Mes  Madrid  Barcelona  Valencia  Bilbao
0    Enero      10         12        14       8
1  Febrero      12         14        16      10
2    Marzo      15         16        18      12
3    Abril      17         18        20      14