## Homework

1) Crea una variable que contenga un elemento del conjunto de números enteros y luego imprímela por pantalla.<br>
Por ejemplo:<br>
x = 2 #creo la variable x que vale 2<br>
print(x)  #imprimo la variable x

9

2) Imprime el tipo de dato de la constante 8.5<br>
Recuerda utilizar la función "type()"

<class 'float'>

3) Imprime el tipo de dato de la variable creada en el punto 1<br>
Recuerda utilizar el nombre de la variable

<class 'int'>

4) Crea una variable que contenga tu nombre

5) Crea dos variables:
* una que se llame var1 y contenga el valor: 'True'
* y otra que se llame var2 y contenga el valor: True<br>
¿Se trata de lo mismo?

6) Imprime el tipo de dato correspondiente a las variables creadas en el punto anterior

<class 'str'>
<class 'bool'>

7) Asigna a una variable: la suma de un número entero y un número decimal

8) Realiza una operación de suma entre dos variables:<br>
* a: que contenga un número entero
* b: que contenga un número decimal<br>
Asígnale el resultado a la variable "c"

12.780000000000001

9) Realiza una operación de multiplicación<br>
Puedes, por ejemplo, realizar una multiplicación entre dos números enteros

24

10) Obtén el cociente de la división de 27 entre 4 en una variable y luego muéstrala<br>
Ayuda: asigna la operación a una variable y luego imprímela utilizando la función print()

6.75

11) De la división anterior, muestra solamente la parte entera<br>
Ayuda: Recuerda la división (parte entera)

6

12) De la división de 27 entre 4 muestra solamente el resto<br>
Ayuda: Recuerda la división (resto)

3

13) Concatena las siguientes variables e imprímelas por pantalla:<br>
var1 = 'Buenos '<br>
var2 = 'Aires'

'Buenos Aires'

14) Evalúa si "2" es igual a 2. ¿Por qué ocurre eso?<br>
Ayuda: Utiliza un operador relacional para evaluar la igualdad, esperas un resultado booleano (True o False)

False

15. Crea una variable que contenga un elemento del conjunto de números enteros y luego imprime por pantalla si es mayor, menor o igual a cero.<br>
Ayuda: Primero crea la variable en cuestión y luego recuerda utilizar condicionales para resolver esta actividad.

False

16. Crea dos variables:
* a que sea un número
* b que sea un string<br>
 Crea un condicional que informe si las variables son del mismo tipo de dato<br>
 Ayuda: Utiliza la función type() dentro del condicional.

<class 'int'>
No son iguales

18. Usa match/case para clasificar un día de la semana (1–7) en “día laboral” o “fin de semana”. (Si tienes una versión de python mayor a  3.10, si tienes una versión más antigua solucionalo con sentencias if/else)

In [2]:
import sys
print(sys.version)

3.14.0 (tags/v3.14.0:ebf955d, Oct  7 2025, 10:15:03) [MSC v.1944 64 bit (AMD64)]

19.  Gestión de una lista de transacciones
Tienes una lista con montos de transacciones y necesitas limpiarla y prepararla para análisis:

* Elimina (-10) y (-5) usando el método apropiado.
* Inserta una transacción de 400 en la posición 2.
* Ordena la lista de menor a mayor.
* Extrae (y guarda en una variable) el valor más alto usando .pop().
* Filtra con un bucle y operador lógico and las transacciones que estén entre 100 * y 400, guardándolas en una nueva lista trans_filtradas.<br>

Ayuda: .remove(), .insert(), .sort(), .pop(), if 100 <= x <= 400.

20. Acceso seguro con .get()
* Tienes un diccionario con información parcial de un cliente. Usa .get() para leer “email” devolviendo "no-mail@ejemplo.com" si no existe.

21. Tuplas y desempacado en pasos de análisis
Se recibe como tupla la configuración de un experimento:

* Desempaqueta config en variables modelo, learning_rate y n_iter.
* Crea una nueva tupla config_inv intercambiando modelo y n_iter en su posición.
* Muestra por pantalla: <br>