In [1]:
num=5.3
print(type(num))

<class 'float'>

In [ ]:
int(num) #convierte mi num a entero

5

In [3]:
int("hola")

ValueError: invalid literal for int() with base 10: 'hola'

In [4]:
num = "8"
type(num)

str

In [ ]:
int(num) #muestra al 8 sin comillas porque antes era string, ahora numero

8

In [ ]:
num = "8.5"
print(type(num))

<class 'str'>

In [12]:
num3=float(num) #convertimos a flotante y guardo en nueva variable

In [13]:
print(type(num)) #tipo de variable string
print(type(num3)) #tipo de variable float, de acuerdo a lo definido en las líneas anteriores

<class 'str'>
<class 'float'>

In [14]:
num=4
print(type(num))

<class 'int'>

In [15]:
num4=float(num) #convertimos a float y guardamos en una nueva variable

In [16]:
print(type(num)) #tipo de variable string
print(type(num4)) #tipo de variable float

<class 'int'>
<class 'float'>

In [19]:
x=10 #declaramos un entero como variable
print(type(x)) #compruebo qué tipo de dato es x
y=str(x) #convierto la variable x que es un entero a string
print(type(y)) #imprimo el tipo de dato que es y

<class 'int'>
<class 'str'>

In [22]:
w=2.2 #w es una variable con un tipo de dato float
print(type(w)) #compruebo el tipo de dato
z= str(w) #convierto la variable float a string
print(type(z)) #compruebo el tipo de dato

<class 'float'>
<class 'str'>